.privacy-policy-container {
	.privacy-policy-header {
		width: 100%;
		height: 479px;
        background: url('/images/privacy-bg.png') no-repeat center center;
        background-size: 100% 100%;
	}
}
